<ion-header class='my-header'>
    <ion-item color='primary'>
        <ion-navbar hideBackButton="true">
            <button ion-button menuToggle>
                <ion-icon name="menu"></ion-icon>
            </button>
        </ion-navbar>
        <!-- <ion-avatar item-end>
            <img *ngIf="isLoggedin()" class="img" [src]="url">
            <img *ngIf="isLoggedin()" src="assets/img/profile.jpg">
        </ion-avatar>
        <span item-end *ngIf="isLoggedin()" class="user-name">
            {{user.name | uppercase}}
        </span> -->
    </ion-item>
</ion-header>

<ion-content class="login">
    <img class="logo" src="assets/imgs/treeandforks.png">

  
    <form class='my-class' [formGroup]="valForm" (submit)="OnLogin($event, valForm.value)">
        <ion-row>
            <ion-col col-12>
                <ion-item>
                    <ion-label>Email:</ion-label>
                    <ion-input 
                    class="form-control" 
                    id="exampleInputEmail1" 
                    type="email" 
                    name="email"        
                    placeholder="Enter email"
                    autocomplete="off" 
                    formControlName="email" 
                    required></ion-input>
                </ion-item>
            </ion-col>
        </ion-row>
        <!--password-->
        <ion-row>
            <ion-col col-12>
                <ion-item>
                    <ion-label>Password:</ion-label>
                    <ion-input 
                    id="exampleInputPassword1" 
                    type="password"
                    name="password" 
                    placeholder="Password" 
                    formControlName="password"
                    required=""></ion-input>
                </ion-item>
            </ion-col>
        </ion-row>

        <!--button-->
        <ion-row>
            <ion-col col-12>
                <button 
                class="login-btn" 
                type="submit" 
                [disabled]="!valForm.valid" 
                ion-button>
                    Login
                </button>
                or
                <button 
                class="register-btn" 
                (click)="Register()"
                ion-button>
                    REGISTER
                </button>
            </ion-col>
        </ion-row>
    </form>

</ion-content>
