page-home {
    .home {
        img {
            height: 40vh !important;
            width: auto !important;
            margin: auto;
            display: block;
        }
        p {
            font-size: 20px;
        }
        span {
            font-size: 15px;
        }
    }

}
