<ion-header>
        <ion-item color='primary'>
            <ion-navbar hideBackButton="true">
                <button ion-button menuToggle>
                    <ion-icon name="menu"></ion-icon>
                </button>
            </ion-navbar>
            <ion-avatar item-end>
            <img *ngIf="isLoggedin()" class="img" [src]="url">
            <!-- <img *ngIf="isLoggedin()" src="assets/img/profile.jpg"> -->
            </ion-avatar>
            <span item-end *ngIf="isLoggedin()" class="user-name">
                {{user.name | uppercase}}
            </span>
        </ion-item>
</ion-header>

<ion-content padding>
<ion-grid>
    <!-- <ion-row class='home'>
      <ion-col col-6 text-center>
        <ion-card>
          <img src="assets/imgs/treeandforks.png">
          <p>Hello, welcome to Goiabeira. </p>
          <span> Site in development... </span>
        </ion-card>
       
      </ion-col>
      <ion-col col-6 text-center>
          <ion-card>
            <img src="assets/imgs/treeandforks.png">
            <p>Hello, welcome to Goiabeira. </p>
            <span> Site in development... </span>
          </ion-card>
         
        </ion-col>
    </ion-row> -->
    <ion-row text-center class="categories">
        <ion-col col-6 *ngFor="let item of Categories" (click)="navigate(item.$key)">
          <img src="{{item.thumb}}"/>
          <p class="text-over-img">{{item.title}}</p>
        </ion-col>
    </ion-row>
  </ion-grid> 
  

</ion-content>
