page-home {
    .home {
        img {
            height: 70vh;
            width: auto;
            margin: auto;
            display: block;
        }
        p {
            font-size: 30px;
        }
        span {
            font-size: 25px;
        }

    }

}
