<ion-header>
    <ion-navbar hideBackButton="true">
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
    </ion-navbar>
</ion-header>

<ion-content padding>
     <ion-grid>
        <ion-toolbar *ngIf="isLoggedin()">
            <ion-item text-center color='primary'>
                Download our beta app for Android.
                    <ion-icon style='color:#008448; font-size:3em; padding:15px' name="arrow-dropdown-circle"></ion-icon>
                </a>
                Ios is coming soon.
            </ion-item>
        </ion-toolbar>    
        <ion-row>

            <ion-col *ngFor="let item of ComingData">

                <img class="logo" src={{item.thumb}}>
                <!-- <ion-item text-center>
                   <strong>  {{ item.blog_drescription }} </strong>
                </ion-item> -->
            </ion-col>
        </ion-row>

        <ion-row>
            <ion-col>
                <ion-card *ngFor="let item of Categories">
                    <img src="{{item.thumb}}" />
                        <ion-card-content>
                            <!-- <ion-card-title>
                                {{item.title}}
                            </ion-card-title> -->
                                <h1>{{ item.title }}</h1>
                               <p> {{item.description}} </p>
                        </ion-card-content>
                    <ion-col>
                        <ion-row>
                            <button ion-button clear outline block (click)="navigate(item.$key)"> read more</button>
                        </ion-row>
                    </ion-col>
                </ion-card>
            </ion-col>
        </ion-row>
        
        
        <ion-row text-center class="categories">
            <ion-col col-6 *ngFor="let item of Categories" (click)="navigate(item.$key)">
                
                <img src="{{item.thumb}}"/>
                <p class="text-over-img">{{item.title}}</p>
                
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>
<ion-footer>
    <ion-row text-center>
        <ion-col>
            <a href="#" onclick="window.open('http://www.facebook.com/', '_system', 'location=yes'); return false;">
                <ion-icon style='color:#008448; font-size:3em; padding:15px' name="logo-facebook"></ion-icon>
            </a>
            <a href="#" onclick="window.open('http://www.instagram.com/', '_system', 'location=yes'); return false;">
                <ion-icon style='color:#008448; font-size:3em; padding:15px' name="logo-instagram"></ion-icon>
            </a>        
            <a href="#" onclick="window.open('https://plus.google.com/discover/', '_system', 'location=yes'); return false;">
                <ion-icon style='color:#008448; font-size:3em; padding:15px' name="logo-googleplus"></ion-icon>
            </a>
        </ion-col>
    </ion-row>
</ion-footer>
