page-home {

  ion-card-title {
    // background-color: #FFF;
    color:green;
    // text-shadow: 1px 0px 1px #ccc, 0px 1px 1px #eee, 2px 1px 1px #ccc, 1px 2px 1px #eee, 3px 2px 1px #ccc, 2px 3px 1px #eee, 4px 3px 1px #ccc, 3px 4px 1px #eee, 5px 4px 1px #ccc, 4px 5px 1px #eee, 6px 5px 1px #ccc, 5px 6px 1px #eee, 7px 6px 1px #ccc;
  }
    .home {
        img {
            height: 70vh;
            width: auto;
            margin: auto;
            display: block;
        }
        p {
            font-size: 30px;
        }
        span {
            font-size: 25px;
        }

    }
    h2 {
        margin-top: 1rem;
      }
      /*slider*/
      .grid {
        padding: 0px;
        .slides {
          .overlay {
            background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4));
            display: inline-flex;
          }
          .slider-img {
            height: 220px;
            width: 100%;
            position: relative;
            z-index: -111;
          }
          .slider-text {
            color: #fff;
            font-size: 22px;
            padding: 5px;
            position: absolute;
            bottom: 0;
            margin: 5px 0px;
          }
          .swiper-pagination-bullet {
            background: $primary !important;
          }
        }
    
        //banner image
        .card-title {
          // position: absolute;
          // top: 36%;
          // font-size: 1.9em;
          // width: 96%;
          // font-weight: bold;
          color: red;
        }
    
        /*Categories*/
    
        .categories {
          flex-wrap: wrap;
          h2 {
            margin-top: -12px;
            font-size: 2.7rem;
            color: rgba(66, 66, 66, 0.87);
            font-weight: 500;
          }
          img {
            height: 110px;
            width: 100%;
            position: relative;
            z-index: -111;
          }
          // .text-over-img {
          //   color: #fff;
          //   font-size: 18px;
          //   padding: 5px;
          //   background-color: rgba(119, 119, 119, 0.6);
          //   position: relative;
          //   width: 100%;
          //   margin: -34px 0px 0px 0px;
          //   text-align: center;
    
          // }
        }
      }

  
      .logo {
        width: 86px;
        display: block;
        margin: 0 auto;
        margin-top: 4em;
        padding-bottom: 2em;
      }

      ion-card {
        position: relative;
        text-align: center;
    }
    ion-card-title {
        position: absolute;
        top: 25%;
        font-size: 25px;
        width: 100%;
        font-weight: bold;
        color: $dark !important;
    }
}
