<ion-header>
        <ion-navbar>
        </ion-navbar>
</ion-header>

<ion-content class="item-page">
    <ion-row class="productImage">
        <img src={{menuItems.thumb}} alt="{{menuItems.title}} ">
    </ion-row>
    
        <ion-list class="extra-list">
            <ion-list-header class="size-list-header" text-center>
                Description
            </ion-list-header>
            <ion-item>
                <ion-label>
                    {{menuItems.description}}
                </ion-label>
            </ion-item>
        </ion-list>
    
    <ion-list class="size-list">
        <ion-list-header class="size-list-header" text-center>
                Size and prices
        </ion-list-header>
            
        <ion-item *ngFor="let item of menuItems.price; let i= index">
            <ion-label *ngIf="item.specialPrice"> 
                {{item.pname}} =  
                <span class="cut">£ {{item.value}}</span>
                <span class="offer-p">£ {{item.specialPrice |number:0}}</span>
            </ion-label>
            
            <ion-label *ngIf="!item.specialPrice"> 
                {{item.pname}} = £ {{item.value}}
            </ion-label>
        </ion-item>

        <ion-list class="extra-list" *ngIf="menuItems.extraOptions != null">
        
            <ion-list-header class="header" text-center>
                Add extra choice
            </ion-list-header>
            
            <ion-item *ngFor="let option of menuItems.extraOptions; let i= index" class="list-item">
                <ion-label>{{option.name}} ({{option.value}} £)</ion-label>
                <ion-label (ionChange)="checkOptions(option)"></ion-label>
            </ion-item>
        </ion-list>

    </ion-list>

    <ion-row>
        <ion-col>
            <a (click)="home()" block ion-button icon-left full class="btn-home">
                <ion-icon name="book"></ion-icon>
                &nbsp;
                Home
            </a>
        </ion-col>
        
        <ion-col>
        
        <a href="tel:+447510963961" block ion-button icon-left full class="btn-home">
            <ion-icon name="call"></ion-icon>
                &nbsp;
            Call and order!
            </a>
        </ion-col>

    <!-- <button ion-button full
            (click)="rate(productDetails.item.itemId)">  Rate Product
    </button> -->
    </ion-row>
</ion-content>
